*{
  margin: 0px;
  padding: 0px;
}
.Header{
  display: flex;
  background-color: rgba(0, 0, 0, 0.727);
  padding: 10px;

  color: white;
  position: fixed;
  font-family: 'Courier New', Courier, monospace;
  height: 30px;
}

.Header a{
  text-decoration: none;
  color: white;
}

.DropDown{
  display: none;
  position: absolute;
  background-color: #00000097;
  width: 125px;
  margin-left: -20px;
  padding: 10px 0px;
}

.DropDown li{
  margin-top: 3px;
  padding-left: 10px;
}

.Header li:hover ,.DropDown li:hover{
  font-weight: bolder;
}

li a{
  color: white;
  text-decoration: none;
}


.DropDown li:hover{
  background-color: #000000;
}

.Header ol{
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Header li:hover .DropDown{
  display: block;
}

.Header h1{
  font-weight: bolder;
  width: 50vw;
}
.Header ol li{
  list-style: none;
}




.ContentPage1{
  background:rgba(0, 0, 0, 0.6) url("./Images/background.jpg");
  /* filter: blur(1px); */
  height: 92vh;
  padding-top: 60px;
  background-blend-mode:darken ;
  /* background-position: ; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


#FrontImg{
  border-radius: 50%;
  width: 300px;
  border: 5px solid #ff3c00c4;

}

.First_second{
  color: #FFFEFE;
  font-family: cursive;
  width: 40vw;
  margin-left: 100px;
}

.First_second h1{
  font-size: 60px;
}
.First_second h2{
  font-size: 23px;

}

.First_second #TextPara3{
  color: #FF0000;
}

.First_second #TextPara2{
  text-shadow:0px 0px 30px #FF0000;
  text-decoration: dashed;
  
}



.ContentPage2{
  background-color: #000000;
  color: #FFFEFE;
  height: 100vh;
  border-top: 1px solid white;
  border-bottom: 3px solid white;
}

.ContentPage2 h1{
  font-size: 70px;
  font-family: cursive;
  text-align: center;
  padding-top: 30px;
}
.ProjectSumm{
  display: flex;
  text-align: center;
  margin: 50px 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.ProjectSummInner{
  margin: 30px 0px;
}

.ProjectSummInner:hover{
  transform: scale(1.3);
}

.ProjectImg{
  width: 20vw;
  height: 25vh;
  background-color: aliceblue;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ProjectImg img{
  border-radius: 20px;
}





footer{
  height: 30vh;
  background: linear-gradient(8deg ,#0F3D3E 50% ,#000000 50%);
  display: flex;
  justify-content: center;
}

/* .footer_First , .footer_Second , .footer_Third{
} */

.footer_First{
  width: 20vw;
  font-size: 200px;
  font-family: Constantia;
  font-style: italic;
  color: rgba(255, 255, 255, 0.621);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -40px;
}

.footer_Second{
  width: 55vw;
}

#LineOuter{
  height: 100%;
  display: flex;
  align-items: center;
}

.lines{
  width: 2px;
  height: 80%;
  background-color: #FFFEFE;
}

.footer_Third{
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_Third a{
  margin-top: 10px;
}

#SocialImg{
  transition: 1ms;
  border-radius: 20px;
}

#SocialImg:hover{
  box-shadow: 0px 0px 1px white;
  transform: scale(1.2);
}