* {
  margin: 0px;
  padding: 0px;
}
.Header {
  display: flex;
  background-color: rgba(0, 0, 0, 0.727);
  padding: 10px;

  color: white;
  position: fixed;
  font-family: "Courier New", Courier, monospace;
  height: 30px;
}

.Header a {
  text-decoration: none;
  color: white;
}

.DropDown {
  display: none;
  position: absolute;
  background-color: #00000097;
  width: 125px;
  margin-left: -20px;
  padding: 10px 0px;
}

.DropDown li {
  margin-top: 3px;
  padding-left: 10px;
}

.Header li:hover,
.DropDown li:hover {
  font-weight: bolder;
}

li a {
  color: white;
  text-decoration: none;
}

.DropDown li:hover {
  background-color: #000000;
}

.Header ol {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Header li:hover .DropDown {
  display: block;
}

.Header h1 {
  font-weight: bolder;
  width: 50vw;
}
.Header ol li {
  list-style: none;
}

.burger {
  width: 10vw;
  /* display: none; */
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.BurgerLine {
  width: 33px;
  height: 3px;
  background-color: White;
  margin-top: 5px;
}

.ContentPage1 {
  background: rgba(0, 0, 0, 0.6) url("./Images/background.jpg");
  /* filter: blur(1px); */
  height: 92vh;
  padding-top: 60px;
  background-blend-mode: darken;
  /* background-position: ; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#FrontImg {
  border-radius: 50%;
  width: 300px;
  /* border: 5px solid #ff3c00c4; */
  /* border: 10px solid white; */
  border: 5px solid rgba(255, 230, 0, 0.658);
}

.First_second {
  color: #fffefe;
  font-family: cursive;
  width: 40vw;
  margin-left: 100px;
}

.First_second h1 {
  font-size: 60px;
}
.First_second h2 {
  font-size: 23px;
}

.First_second #TextPara3 {
  color: #ff0000;
}

.First_second #TextPara2 {
  text-shadow: 0px 0px 30px #ff0000;
  text-decoration: dashed;
}

.ContentPage2 {
  background-color: #000000;
  color: #fffefe;
  /* height: 100vh; */
  border-top: 1px solid white;
  border-bottom: 3px solid white;
}

.ContentPage2 h1 {
  font-size: 70px;
  font-family: cursive;
  text-align: center;
  padding-top: 10px;
}
.ProjectSumm {
  display: flex;
  text-align: center;
  margin: 20px 0px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.ProjectSummInner {
  margin: 30px 0px;
}

.ProjectSummInner:hover {
  transform: scale(1.3);
}

.ProjectImg {
  width: 325px;
  height: 205px;
  background-color: aliceblue;
  border-radius: 20px;
  margin-bottom: 10px;
}

.ProjectImg a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ProjectImg img {
  border-radius: 20px;
  width: 95%;
  height: 90%;
}

footer {
  /* height: 30vh; */
  background: linear-gradient(8deg, #0f3d3e 50%, #000000 50%);
  display: flex;
  justify-content: center;
}

/* .footer_First , .footer_Second , .footer_Third{
} */

.footer_First {
  width: 20vw;
  font-size: 200px;
  font-family: Constantia;
  font-style: italic;
  color: rgba(255, 255, 255, 0.621);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* margin-top: -40px; */
}

.footer_Second {
  width: 55vw;
  color: #00000069;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 110px;
  font-family: fantasy;
}

#LineOuter {
  /* height: 100%; */
  display: flex;
  align-items: center;
}

.lines {
  width: 2px;
  height: 80%;
  background-color: #fffefe;
}

.footer_Third {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_Third a {
  margin-top: 10px;
}

#SocialImg {
  transition: 1ms;
  border-radius: 20px;
}

#SocialImg:hover {
  box-shadow: 0px 0px 1px white;
  transform: scale(1.2);
}

@media only screen and (max-width: 960px) {
  .First_second {
    width: 55vw;
    margin-left: 25px;
  }
}

@media only screen and (max-width: 727px) {
  .ContentPage1 {
    flex-direction: column;
  }
  .First_second {
    width: 100vw;
    margin-top: 50px;
    margin-left: 0px;
    text-align: center;
  }
  .footer_Second{
    /* display: none; */
    font-size: 80px;
  }
}

@media only screen and (max-width: 655px) {
  .Header {
    width: 100vw;
  }

  .footer_Second{
    /* display: none; */
    /* font-size: 80px; */
    color: #00000000;
  }
  .Header h1{
    width: 80vw;
    font-size: 25px;
  }

  .Header ol li {
    margin-top: 5px;
    width: 90%;
  }

  .Header ol ul {
    margin-left: -40px;
    background-color: #000000;
  }

  .Header ol li:hover {
    background-color: #bdb5b581;
  }

  .burger {
    cursor: pointer;
  }
  .Header .Orderheader {
    display: none;
    position: absolute;
    top: 50px;
    flex-direction: column;
    left: 70vw;
    /* opacity: 0.5; */
    width: 25vw;
    background-color: #000000;
    align-items: flex-start;
    padding: 10px;
  }
  .Header:hover .Orderheader {
    /* opacity: 1; */
    display: block;
  }
  #LineOuter{
    display: none;
  }
  .footer_First{
    font-size: 150px;
  }
  .footer_Second{
    /* display: none; */
    width: 20vw;
  }
  .footer_Third{
    flex-direction: row;
  }
  .footer_Third a{
    margin-right: 10px;
  }
  footer{
    background: linear-gradient(19deg, #0f3d3e 50%, #000000 50%);
  }
  .ProjectSummInner{
    margin: 9px 0px;
  }
}


@media only screen and (max-width: 440px) {
  #FrontImg{
    width: 225px;
  }
  .First_second h1{
    font-size: 41px;
  }
  .First_second h2{
    font-size: 19px;
  }
}
